<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <% include ./partials/_header %>
      <ul >
        <% for (let shortUrl in urls) { %>
        <% let value = urls[shortUrl]; %>
          <li ><%= value %>  : <%= shortUrl %></li>
          <form  id="delete<%= shortUrl%>" method="POST" action="/urls/<%= shortUrl %>/delete">
            <button name="delete" > Delete </button>
          </form>
          <form  id="edit<%= shortUrl%>" method="GET" action="/urls/<%= shortUrl %>">
            <button name="edit"> Edit </button>
          </form>
        <% } %>
      </ul>
    </div>
  </body>
</html>