<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <% include ./partials/_header %>
    </div>
    <div class="container" align="center">
      <ul class="list-group">
        <% for (let shortUrl in urls) { %>
        <% let longURL = urls[shortUrl]; %>
          <p></p>
          <li class="list-group-item"><a href="/u/<%= shortUrl %>"> localhost:/u/<%= shortUrl %> </a> ==> <%= longURL %>
            <form  id="delete<%= shortUrl%>" method="POST" action="/urls/<%= shortUrl %>/delete">
              <button name="delete" > Delete </button>
            </form>
            <form  id="edit<%= shortUrl%>" method="GET" action="/urls/<%= shortUrl %>">
              <button name="edit"> Edit </button>
            </form>
          </li>
        <% } %>
      </ul>
      <form name="create" method="GET" action="/urls/new">
        <button> Create a new short URL  </button>
      </form>
    </div>
  </body>
</html>