<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align=center>
      <% include ./partials/_header %>
      <ul >
        <% for (let ShortUrl in urls) { %>
        <% let value = urls[ShortUrl]; %>
          <li ><%= value %>  : <%= ShortUrl %></li>
          <form method="POST" action="/urls/<%= ShortUrl %>/delete" id="modify<%= ShortUrl%>">
            <button form="modify<%= ShortUrl%>"> Delete </button>
          </form>
        <% } %>
       </ul>
    </div>
  </body>
</html>