<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align="center">
      <% include ./partials/_header %>
      <ul >
        <% for (let shortUrl in urls) { %>
        <% let longURL = urls[shortUrl]; %>
          <li > http://localhost:/u/<%= shortUrl %>  ==> <%= longURL %> </li>
          <form  id="delete<%= shortUrl%>" method="POST" action="/urls/<%= shortUrl %>/delete">
            <button name="delete" > Delete </button>
          </form>
          <form  id="edit<%= shortUrl%>" method="GET" action="/urls/<%= shortUrl %>">
            <button name="edit"> Edit </button>
          </form>
        <% } %>
      </ul>
      <form name="create" method="GET" action="/urls/new">
        <button> Create a new short URL  </button>
      </form>
    </div>
  </body>
</html>