<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head-general %>
  </head>

  <body>
    <div align=center>
      <% include ./partials/_header %>
      <ul >
        <% for (let ShortUrl in urls) { %>
        <% let value = urls[ShortUrl]; %>
          <li ><%= value %>  : <%= ShortUrl %></li>
          <form  id="delete<%= ShortUrl%>" method="POST" action="/urls/<%= ShortUrl %>/delete">
            <button name="delete"  for="delete<%= ShortUrl%>"> Delete </button>
          </form>
          <form  id="edit<%= ShortUrl%>" method="GET" action="/urls/<%= ShortUrl %>" for="edit<%= ShortUrl%>">
            <button name="edit"> Edit </button>
          </form>
        <% } %>
      </ul>
    </div>
  </body>
</html>